.accordion {
  margin-bottom: 10px;
  padding: 20px;
  background-color: $footer-top-bg;
  color: $white;

  h5 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;

    a {
      margin-left: 15px;
    }
  }
}
