.search {
  .search-output {
    margin: 5px 0 0;
    padding: 5px;
  }

  .show-results {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
  }

  a.searched-item,
  a.searched-item:hover,
  a.searched-item:focus,
  a.searched-item:active {
    display: block;

  }
}