
body.admin {
	background-color: $FOOTER_TOP_BG;
	padding-left: 320px;
}

nav.admin-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 320px;
	bottom: 0;
	background-color: $FOOTER_BOTTOM_BG;
	padding: 0;

	color: white;

	a.admin-brand {
		@include setAnchorSelector {
			color: white;
			font-size: 36px;
			text-decoration: none;
			padding: 15px;
			display: block;
		}
	}

	ul.user-info {
		margin: 0 0 25px 0;
		padding: 0 15px;
		border: 0;
		list-style-type: none;

	}

	ul.panel-dd {
		margin: 0;
		padding: 0;
		border: 0;
		list-style-type: none;
		cursor: pointer;

		li {

			a {
				display: block;
				padding: 7.5px 15px;
				background-color: $FOOTER_BOTTOM_TEXT;
				margin-bottom: 2px;
				color: white;
			}

			ul {
				visibility: hidden;
				opacity: 0;
				height: 0;
				overflow: hidden;
				//list-style-type: none;
				transition: all .3s ease;

				&.open {
					visibility: visible;
					opacity: 1;
					height: 100%;
				}

				li {
					a {
						background-color: $FOOTER_BOTTOM_BG;
					}
				}
			}
		}

	}

}
