.my-content {
	@include custom_section;

	table {
		margin-bottom: 0;
	}

	tbody {
		tr {
			background-color: $FOOTER_TOP_BG;
			td {
				color: white;

			}
		}

		a {
			@include setAnchorSelector {
				text-decoration: none;
				cursor: pointer;

				span.ti-pencil,
				span.ti-close {
					font-size: 1.4em;
				}
			}
		}
	}

	a[data-goBack] {
		cursor: pointer;
		color: white;
		transition: all .2s ease;

		&:hover {
			color: white;

		}
	}
}

main {

	div.categories {
		background-color: #FFFFFF;
		margin-bottom: 10px;

		.section-name {
			font-size: 1.7em;
		}

		div.cat-inner {
			display: flex;
			flex-wrap: wrap;

			//smaller
			a.category-short-article,
			a.welcome-short-article {
				margin: 0 0 1% 1%;
				max-width: 32%;
				overflow: hidden;
				text-decoration: none;
				display: block;
				color: $general_text_color;
				transition: all .2s ease;
				background-color: $layout_bg;

				//min width 992px
				//every third child
				&:nth-child(3n) {
					@media (min-width: 992px) {
						margin-right: 1%;
					}
				}

				//first, second and third child
				&:nth-child(-n+3) {
					@media (min-width: 992px) {
						margin-top: 1%;
					}
				}

				//min-width 768
				@media (max-width: 991px) {
					max-width: 47.75%;
					margin: 0 0 1.5% 1.5%;
				}

				//every second child
				&:nth-child(2n) {
					@media (max-width: 991px) and (min-width: 576px) {
						margin-right: 1.5%;
					}
				}

				//first + second child
				&:nth-child(-n+2) {
					@media (max-width: 991px) and (min-width: 576px) {
						margin-top: 1.5%;
					}
				}

				//max-width 767
				@media (max-width: 767px) {
					max-width: 96%;
					margin: 0 0 2% 2%;
				}

				&:first-child {
					@media (max-width: 767px) {
						margin-top: 2%;
					}
				}

				&:hover img {
					transform: scale(1.1);
				}

				img {
					width: 100%;
					height: auto;
					transition: transform .2s ease;
				}

				div.short-article-inner {
					padding: 5px;
					position: relative;
					min-height: 140px;

					p {
						margin: 0;

						&.title {
							font-weight: 700;
							margin-top: 5px;
						}

						&.body {
							margin-bottom: 25px;
						}

						&.bottom-info {
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							padding: 0 5px 5px 5px;
							display: flex;
							justify-content: space-between;
							font-size: 0.8em;
							font-weight: 400;
						}
					}

				}
			}

		}
	}

	//CONTENT PAGE

	article {
		margin-bottom: 5px;
		background-color: white;
		padding: 10px;

		h4.title {
			//background-color: $FOOTER_TOP_BG;
			color: $RUSTY_RED;
		}
		img.front-img {
			margin: 0 10px 10px 0;
		}

		p {

			&.info {
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid $RUSTY_RED;
			}
		}
	}

	section.list-comments {
		background-color: white;
		margin-bottom: 5px;
		padding: 10px;

		div.comment {
			background-color: $layout_bg;
			padding: 10px;
			margin-bottom: 5px;
			border-radius: 5px;

			&:nth-child(odd) {
				background-color: #CCCCCC;
			}

			p {
				margin: 0;

				&.info {
					border-bottom: 1px solid $RUSTY_RED;
					display: flex;
					justify-content: space-between;
					margin-bottom: 10px;
				}
			}
		}

	}

	section.write-comment {
		@include custom_section;
	}
}

aside {

	div.categories {
		margin-bottom: 10px;
		background-color: #FFFFFF;
		//	background-color: $layout_bg;

		h4.title {
			background-color: $FOOTER_TOP_BG;
			color: $RUSTY_RED;
			padding: 5px 5px 5px 20px;
			margin: 10px 0;
		}

		ul {
			margin: 0;
			padding: 5px 5px 5px 20px;
			border: 0;
			list-style-type: none;

			li {
				a {
					color: $general_text_color;
					font-weight: 600;
				}
			}

		}

	}
}