section.contact {
	@include custom_section;

	p {
		color: $general_text_color;
	}

	form {

		@include placeholder {
			//color: $footer_top_text_color;
		}

		input:not([type=submit]),
		textarea {
			//color: $footer_bottom_text_color;
		}

		textarea {
			resize: none;
		}
	}
}
