footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $footer-top-bg;
  overflow: hidden;

  h2 {
    color: $footer-top-text;
  }

  p {
    margin-bottom: 0;
  }

  .footer-top {
    width: 100%;
    height: auto;
    color: $footer-bottom-text;
  }

  .footer-bottom {
    display: flex;
    width: 100%;
    background-color: $footer-bottom-bg;

    .footer-bottom__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .footer-nav {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;

    li {
      a,
      a:hover,
      a:focus,
      a:active {
        transition: $general-transition;
        color: $footer-top-text;
        text-decoration: none;

        &:hover {
          color: $white;
        }
      }
    }
  }

  //.contact-us {
  //  @include placeholder {
  //    }
  //
  //  input:not([type=submit]),
  //  textarea,
  //  textarea:focus {
  //  }
  //
  //  textarea {
  //    resize: none;
  //  }
  //}

  //social icons
  .social_icons {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    transition: .3s ease-in;
    opacity: 1;
    visibility: visible;

    li {
      list-style-type: none;

      a,
      a:hover,
      a:focus,
      a:active {
        display: flex;
        align-items: center;
        width: 50px;
        height: 50px;
        padding: 0 10px;
        transition: width .4s, background-color .4s;
        font-size: 1em;
        text-decoration: none;

        &.facebook {
          color: $facebook-color;
        }

        &.twitter {
          color: $twitter-color;
        }

        &.pinterest {
          color: $pinteres-color;
        }

        &.instagram {
          color: $instagram-color;
        }

        ////icon settings
        span {
          padding: 0 5px;
        }

        //text settings
        p {
          display: none;
          margin-bottom: 0;
          padding-right: 5px;
          overflow: hidden;
        }

        //hover settings
        @include media-breakpoint-up(lg) {
          &:hover {
            color: $white;

            &.facebook {
              width: 118.5px;
              background-color: $facebook-color;
            }

            &.twitter {
              width: 99px;
              background-color: $twitter-color;
            }

            &.pinterest {
              width: 113px;
              background-color: $pinteres-color;
            }

            &.instagram {
              width: 121.5px;
              background-color: $instagram-color;
            }

            //text settings
            p {
              display: block;
              color: $white;
            }
          }
        }
      }
    }
  }

  .footer-brand {
    color: $rusty-red;
    font-size: 18px;
  }
}

@include media-breakpoint-up(md) {
  footer {
    .footer-bottom {
      .footer-bottom__wrapper {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
