// FOOTER //////////////////////////////////////////////////////////////////////////////////////////////// FOOTER
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	section.footer-top {
		height: 50px;
		background-color: $FOOTER_TOP_BG;
		color: $FOOTER_TOP_TEXT;

		ul {
			margin: 0;
			padding: 0;
			border: none;
			list-style-type: none;
			height: 50px;

			display: flex;
			align-items: center;
			justify-content: center;

			li a {
				transition: all .2s linear;
				padding: 0 15px;
				color: $FOOTER_TOP_TEXT;
				text-decoration: none;

				&:hover{
					color: white;
				}
			}
		}
	}

	section.footer-bottom {
		height: 50px;
		background-color: $FOOTER_BOTTOM_BG;
		color: $FOOTER_BOTTOM_TEXT;

		p.brand {
			margin-bottom: 0;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

	}
}