//Global settings
html {
	position: relative;
	min-height: 100%;

	&::-webkit-scrollbar {
		display: none;
	}
}

body {
	background-color: $RUSTY_RED;
	margin-top: 56px;
	@include footer-height(100px);
	display: block;

}