//Global settings
html {
	position: relative;
	min-height: 100%;

	&::-webkit-scrollbar {
		display: none;
	}
}

body {
	margin-top: 56px; //navbar-height = 56px
	@include footer-height(100px); //footer height
	background: url("/assets/images/pattern-way-you-love-me.png");
	//background: url("/assets/images/pattern-bring-that-back.png");

	@media (max-width: 767px) {
		@include footer-height(250px); //footer height

	}

}

p.flash_alert {
	border-radius: 0 !important;
}

.modal-backdrop.show {
	opacity: 0.85;
}

.container {
	@media (max-width: 991px) {
		max-width: 991px !important;
		width: 100% !important;
	}
}

main,
aside {
	margin: 15px 0;
}

.section-name {
	background-color: $FOOTER_TOP_BG;
	color: $RUSTY_RED;
	padding: 5px 5px 5px 20px;
	margin-bottom: 0;
}