.navbar {
  background-color: $footer-bottom-bg;
  color: $white;

  .navbar-brand {
    color: $rusty-red;
  }

  .navbar-nav {

    &.navbar-right {
      .nav-item {

        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }

    .nav-item {
      .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $general-transition;
        color: $footer-top-text;
        cursor: pointer;

        &:hover {
          color: $rusty-red;
        }

        &.active {
          color: $white;

          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  .dropdown-menu {
    padding: 0;
    border: none;
    overflow: hidden;

    .dropdown-item {
      cursor: pointer;

      &:hover,
      &:active,
      &:focus {
        background-color: #999;
      }
    }
  }

}