section.profile {
	@include custom_section;

	div.card {
		margin-bottom: 2.5px;
		border: none;
		background-color: $FOOTER_TOP_BG;
		border-radius: 5px;

		div.card-header {
			background-color: $FOOTER_TOP_BG;
			border-radius: 5px;
			//padding: 0;
			border: none;

			a {
				text-decoration: none;

				h5 {
					display: flex;
					justify-content: space-between;

					span.ti-angle-up {
						display: inline-block;
						transition: all .2s linear;
						color: white;
					}

				}

				p {
					margin: 0;
					color: white;
				}

				//if area expanded true than ti angle up rateted 180 deg
				&[aria-expanded=true] h5 span.ti-angle-up {
					transform: rotateX(180deg);
				}
			}

		}

		a#newsletter_btn {
			color: #17a2b8;

			&:hover {
				color: #fff;
			}
		}

		input[type=submit] {
			cursor: pointer;
		}
	}

}

