$white: #fff;
$black: #000;

$midnight-blue: #2c3e50;
$navy-blue: #18121e;
$gunmental: #233237;
$rusty-red: #984b43;
$warm-yellow: #eac67a;
$general-text-color: #606068;

$footer-top-bg: #2a2a2a;
$footer-top-text: rgba(255, 255, 255, .5);
$footer-bottom-bg: #242424;
$footer-bottom-text: rgba(255, 255, 255, .3);

//social icons
$facebook-color: #3b5998;
$twitter-color: #1dcaff;
$pinteres-color: #b22222;
$instagram-color: #568dba;

//placeholder mixin
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}

$general-transition: .2s linear;
$general-border-radius: calc(.25rem - 1px);
