div.welcome-wrapper {
	display: flex;

	h3 {
		border-bottom: 1px solid $RUSTY_RED;
		font-size: 1em;
	}

	section.welcome_main {
		width: calc(100% - 250px);

		div.main_block {
			@include section-general;
			background-color: white;
			margin-bottom: 15px;

		}
	}

	section.welcome_aside {
		width: 250px;
		margin-left: 15px;

		ul {
			margin: 0;
			padding: 0;
			border: none;
			list-style-type: none;
		}

		div.aside_block {
			@include section-general;
			background-color: white;
			margin-bottom: 15px;
		}

	}
}
