.page-admin {
  margin-left: 200px;
  padding: 50px 0;

  .table {
    border: 2px solid $white;

    th,
    td {
      table-layout: fixed;
      vertical-align: middle;

      &.td-option {
        width: 100px;
      }
    }
  }

  thead {
    th {
      border-bottom: none;
    }
  }
}
