@font-face {
  font-family: 'themify';
  src:url(../../../node_modules/themify-icons/themify-icons/fonts/themify.eot);
  src:url(../../../node_modules/themify-icons/themify-icons/fonts/themify.eot) format('embedded-opentype'),
  url(../../../node_modules/themify-icons/themify-icons/fonts/themify.woff) format('woff'),
  url(../../../node_modules/themify-icons/themify-icons/fonts/themify.ttf) format('truetype'),
  url(../../../node_modules/themify-icons/themify-icons/fonts/themify.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}